.popup-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.popup-card {
  width: 500px;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 0 5px 1px gray;
  color: #000000;
}

.popup-card h3 {
  margin-bottom: 40px;
}

.btns-container {
  display: flex;
}

input,
textarea {
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  .popup-card {
    width: 80%;
  }
}
